*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    color: #EFECE3;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    z-index: 1;
}
.main {
  position: relative;
  width: 100%;
}

.main::before {
  content: "";
  position: fixed;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-image:url(../public/background.jpeg) ;
  background-size: cover;
  background-position: center;
  filter: blur(5px);       
  z-index: 0;
}


.main-about::before {
  content: "";
  position: fixed;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-image:url(../public/about-sec-bg.jpeg) ;
  background-size: cover;
  background-position: center; 
  filter: grayscale(1);      
  z-index: 0;
}

.main-resume {
  position: relative;
  width: 100%;

}


.main-resume::before {
  content: "";
  position: fixed;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-image:url(../public/resume.jpeg);
  background-size: cover;
  background-position: center;
  filter: blur(5px); 
  filter: brightness(20%);      
  z-index: 0;
}

.nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    gap: 5vw;
    text-decoration: none;
    z-index: 2;
    top: 0;
    width: 100vw;
    padding: 3vh 7vw;
    background: linear-gradient(
    to top,
    rgb(74, 112, 169) -5%,  
    rgb(36, 48, 50) 80%  
  );
    & li{
        list-style: none;
        & a{
        text-decoration: none;
        font-size: 1rem;
        }
    }
    }

.details{
    display: flex;
    position: relative;
    z-index: 1;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    margin: 2rem 6vw;
    

    & h1{
        font-size: 4rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 0rem 1rem;
    }
    & h2{
        font-size: 2rem;
        padding: 0rem 1rem;
    }
    & p{
        font-weight: 100;
        font-size: 0.8rem;
        letter-spacing: 0.6rem;
        padding: 0.5rem 1rem;
    }
    & .detail-btn{
        display: flex;
        padding: 0rem 1rem;
        gap: 1rem;

        & button{
            height: 2.2rem;
            width: 6rem;
            border: 1px solid #A6B28B;
            font-size: 1rem;
            border-radius: 1rem;            
            background: linear-gradient(
    to top,
    rgb(74, 112, 169) -5%,  
    rgb(36, 48, 50) 80%  
  );
        }
    }
}









.main-progress{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  gap: 1rem;
  
   & h1{
    font-size: 1rem;
    width: 5rem;
   }
}
.progress-bar {
  width: 30vw;
  height: 6px;
  background: #34363a;       
  border-radius: 10px;
  position: relative;  
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #1c2d35, #567494); 
  border-radius: 10px;
  position: relative;
  transition: width 1s ease-in-out;                      
}

.progress-fill .circle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate( -50%);
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #1f5785;
  border: 3px solid rgb(67, 91, 96);
}


.main-resume{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    & h2{
        font-size: 1rem;
        margin: 1rem 0rem;
    }
    & p{
        font-size: 0.8rem;
    }
}


.main-about{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    width: 100%;
    height: 100vh;
    position: relative;

    & .about-sec{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 75vh;
        margin-top: 5%;
        

        & div{

          & p{
            text-align: justify;
          }
        }
      }

}
.about_{
    z-index: 1;
    width: 50%;
    /* position: absolute; */
    & p{
        text-align: left;
        margin-top: 1rem;
        z-index: 1;
        font-size: 0.8rem;
    }
}

.pic{
    z-index: 1;
    width: 15rem;
    margin: 0rem 2rem;
}


.resume-sec1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40vw;

    & .resume-sec1-sub{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
    }
}


.edu-ele {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}


.edu-time{
  width: 6rem;
  height: 5rem;
  padding: 0.5rem;
  border-radius: 50%;
  background: linear-gradient(
  to top,
  rgb(143, 171, 212) 5%,  
  rgba(74, 112, 169, 0.1) 90%  
  );
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0rem;
}

.edu-place{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  & h2{
    display: flex;
    align-items: space-between;
    justify-content: space-between;
  }
}
.edu{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin: 0rem  2rem ;

  & h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}


.edu-on-page{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.edu-on-page{
 & div{
  margin-bottom: 0.2rem;
 }  
}

.home , .about , .resume{
  background: linear-gradient(
  to top,
  rgb(74, 78, 74) 5%,  
  rgb(28, 53, 45, 0.1 ) 90%  
  );
  padding: 3vh 0vw;
  margin: 0rem;
}

.pic{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
   
  & .frame{
    width: 15rem;
    height: 15rem;
  }
}
.avatar{
  position: absolute;
  width: 15rem;
  opacity: 0.7;
  height: 15rem;
  border-radius: 50%;

}


@media screen and (min-width:830px) and (max-width:1250px) {
  
    .resume-sec1{
      width: 40vw;
      margin-left:3rem;
    }
    .edu-time{
      width:  4rem;
      height: 4rem;
      margin-top: 1rem;

      & p{
      font-size: 13px;
      }
    }

}

@media screen and (max-width:830px) and (min-width:420px) {

      .main-resume{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

      .resume-sec1{
        width: 100vw;
      }

      .main-progress{
        width: 100vw;
      }


      .main-progress{
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .about-sec{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
      }
      .pic{
        margin: 0rem;
      }

      .about_{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
}


@media screen and (max-width:420px) {

        .main-resume{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
        .resume-sec1-sub{
          & h2{
            font-size: 20px;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

              .about-sec{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
      }
      .pic{
        margin: 0rem;
      }

      .about_{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      .resume-sec1{
        width: 100vw;
      }

      .main-progress{
        width: 100vw;
      }


}

@media screen and (max-height:1100px) and (min-height:400px) and (max-width:850px) and (min-width:100px) {

        .main-resume{
          position: absolute;
          top: 10%;
        }

        .main-about{
          position: absolute;
          top: 15%;
        }
  
}

@media screen and (max-height:700px) and (min-height:100px) and (max-width:850px) and (min-width:100px){

        .main-about{
          position: absolute;
          top: 35%;
        }
}