*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    color: #F4F4F4;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    z-index: 1;
}
.main {
  position: relative;
  width: 100%;
}

.main::before {
  content: "";
  position: fixed;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-image:url(../public/background.jpeg) ;
  background-size: cover;
  background-position: center;
  filter: blur(5px);       
  z-index: 0;
}
.main-about {
  position: relative;
  width: 100%;
}

.main-about::before {
  content: "";
  position: fixed;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-image:url(../public/about-background.jpeg);
  background-size: cover;
  background-position: center;
  filter: blur(5px);       
  z-index: 0;
}

.main-resume {
  position: relative;
  width: 100%;

}

.main-resume::before {
  content: "";
  position: fixed;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-image:url(../public/resume.jpeg);
  background-size: cover;
  background-position: center;
  filter: blur(5px); 
  filter: brightness(20%);      
  z-index: 0;
}

.nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    gap: 5vw;
    text-decoration: none;
    z-index: 2;
    top: 0;
    width: 100vw;
    height: 10vh;
    padding: 0vw 7vw;
     background: linear-gradient(
    to top,
    rgb(11, 37, 12) -5%,  
    rgb(28, 53, 45, 0.7 ) 80%  
  );
    & li{
        list-style: none;
        & a{
        text-decoration: none;
        font-size: 1rem;
        }
    }
    }

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 3rem;
    background-color: #B6B09F;
}

.details{
    display: flex;
    position: relative;
    z-index: 1;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    margin: 2rem 6vw;
    

    & h1{
        font-size: 4rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 0rem 1rem;
    }
    & h2{
        font-size: 2rem;
        padding: 0rem 1rem;
    }
    & p{
        font-weight: 100;
        font-size: 0.8rem;
        letter-spacing: 0.6rem;
        padding: 0.5rem 1rem;
    }
    & .detail-btn{
        display: flex;
        padding: 0rem 1rem;
        gap: 1rem;

        & button{
            height: 2.2rem;
            width: 6rem;
            border: 1px solid #A6B28B;
            font-size: 1rem;
            border-radius: 1rem;            
            background: linear-gradient(
            to top,
            rgb(166, 178, 139 , 1) -5%,  
            rgb(28, 53, 45, 0.7 ) 80%  
            );
        }
    }
}









.main-progress{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  gap: 1rem;
  
   & h1{
    font-size: 1rem;
    width: 5rem;
   }
}
.progress-bar {
  width: 30vw;
  height: 6px;
  background: #1f2937;       
  border-radius: 10px;
  overflow: hidden;
  position: relative;  
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #1C352D, #1C352D); 
  border-radius: 10px;
  position: relative;
  transition: width 1s ease-in-out;                      
}

.progress-fill .circle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 6px #1C352D
}


.main-resume{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    & h2{
        font-size: 1rem;
        margin: 1rem 0rem;
    }
    & p{
        font-size: 0.8rem;
    }
}


.main-about{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 0;
    width: 100%;
    height: 100vh;
    position: relative;

    & h2 , p{
        margin: 0rem 3rem;
    }
}
.about{
    z-index: 1;
    width: 50%;
    /* position: absolute; */
    & p{
        text-align: left;
        margin-top: 1rem;
        z-index: 1;
        font-size: 0.8rem;
    }
}

.pic{
    z-index: 1;
    width: 15rem;
    margin: 0rem 5rem;
}


.resume-sec1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40vw;

    & .resume-sec1-sub{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
}


.edu-ele {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}


.edu-time{
  width: 6rem;
  height: 5rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0rem;
}

.edu-place{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}


.edu{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin: 0rem  2rem ;

  & h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}


.edu-on-page{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.edu-on-page{
 & div{
  margin-bottom: 0.2rem;
 }  
}
